:root{
--color1:#1dba90;/*vert*/
--color2:#d34273;/*rose*/
--color3:#3d3d3d;/*gris*/
--color4:#fff;/*blanc*/
--padding_h:15%;
--padding_v:80px;
--header_h:80px;
}

*{
	padding:0;/*marge interne*/
	margin:0;/*marge externe*/
	box-sizing:border-box;/*le padding et les bordures sont inclus dans la largeur des balises*/
	outline:none;
}

body{
	font-family:arial, sans-serif;
	font-size:.9rem;
}

